.build/
dist/
.DS_Store
*.xcodeproj
xcuserdata/
.swiftpm/
Ortho4XP/build/
Ortho4XP/dist/
Ortho4XP/venv/
Ortho4XP/.venv*/
dist.nosync/
.blast_index/
sim_review/
Ortho4XP/venv
Ortho4XP/OSM_data
Ortho4XP/Elevation_data
Ortho4XP/Airport_mod_cache
Ortho4XP/Geotiffs
Ortho4XP/Masks
Ortho4XP/Default_DSF_cache
Ortho4XP/Orthophotos
.progress

**/__pycache__/
